// Base styling for links
@mixin vf-b-links {
  a {
    font-weight: 400;
    text-decoration: none;

    &:focus {
      outline: thin dotted $color-mid-light;
    }

    &:hover {
    border-bottom: 1px solid currentColor;
    color: inherit;
	transition: border-color .2s;
      /*border-bottom-color: $color-mid-light;*/
      cursor: pointer;
    }

    &:visited {
      /*color: $color-mid-dark;*/
    }
  }
}
