// Global color settings

$color-transparent:      transparent !default;

//$color-brand:            #333 !default;
$color-brand:            #8c2004 !default;

$color-x-light:          #fff !default;
$color-light:            #f7f7f7 !default;
$color-mid-light:        #cdcdcd !default;
$color-mid-dark:         #666 !default;
$color-dark:             #333 !default;
$color-x-dark:           #000 !default;


$off-white: #FBFBFB;
$base-background: #fffef2;
$green: #5C8727;
$red: #8c2004;
$light-green: rgb(231, 237, 224);
$yellow: #FBB040;
$light-yellow: rgb(255, 210, 154);
$color-negative:         $red !default;
$color-warning:          $yellow !default;
$color-positive:         $green !default;
$color-information:      #007aa6 !default;

$color-input-shadow:     rgba($color-x-dark, .12) !default;

// Border
//$base-border-color: $light-gray;
$base-border-color: #adad97;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fffff8;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($color-brand, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// for _patterns_grid-list.scss
$grid-border-style:      1px dotted $color-mid-light !default;

$states: (
  error: $color-negative,
  warning: $color-warning,
  success: $color-positive,
  information: $color-information
);
