.islandora.islandora-basic-collection
  - $row_field = 0
  - foreach ($associated_objects_array as $associated_object):
    .islandora-basic-collection-object.islandora-basic-collection-list-item.clearfix
      dl.'<?php print $yay;?>'
        dt
          blah
        dd
  - endforeach
